body {
    width: 90vw;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(to right, #080808ed, #080808ed), url(./assets/fondo-index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #111;
    color: white;
}

h1 {
    font-size: 2rem;
    /* color: darkgoldenrod; */
}

h2 {
    font-size: 1.7rem;
    /* color: darkgoldenrod; */
}

a {
    text-decoration: none;
    color: white;
}

hr {
    width: 97vw;
    margin: 10px;
}

.menu {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 100%;
}

.menu-listado {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
    padding: 0.5em;
    /* color: forestgreen; */
    font-size: 1.5rem;
}

.saludo {
    font-size: 1.8em;
}

.cartelera {
    width: 97vw;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.carteleraPeliculas {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.peliculas {
    width: 250px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
}

.peliculas img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.tituloPelicula {
    font-size: 1.5rem;
}

.btnComprar,
.btnSesion,
.btnGuardar {
    background-color: orangered;
}

.login,
.resultado {
    width: 97vw;
    margin: 15px;
    text-align: center;
}

.formulario {
    margin: 1.5em;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: white 1px solid;
    border-radius: 5px;
}

.formulario p {
    font-size: 1.5em;
}

/*
.contenedorCartelera {
    margin: 1.5em;
    display: flex;
    justify-content: space-between;
}


.carteleraTitle,

.cardPeli {
    width: 190px;
    height: 200px;
    padding: 0.6em;
    margin: 0.5em;
    text-align: center;
    border: rgb(53, 225, 10) 1px solid;
    border-radius: 5px;
}

.resultado {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    color: rgb(53, 225, 10);
}

.resumen p {
    font-weight: 500;
}

.resumen ul {
    list-style: none;
    padding: 0.5em;
}

.btn {
    background-color: rgb(92, 183, 69);
}